@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

body {
	padding-top: 2.5%;
}

*, *::before, *::after {
	box-sizing: border-box;
	outline: none;
	font-family: sans-serif;
}

$grid-columns: 29;

$background-color: rgb(238, 238, 238);

.outer-container {
	@include outer-container(980px);
	background-color: $background-color;
	padding: .8em;
}

.display {
	background-color: white;
	border: none;
	border-radius: 5px;
	font-size: 1em;
	margin-bottom: .8em;
	min-height: 290px;
	padding: 1em;
	width: 100%;
}

.keyboard-key {
	@include span-columns(2);
	background-color: white;
	border: none;
	border-radius: 5px;
	font-size: 1em;
	height: 50px;
	margin-bottom: .7em;
}

.delete {
	@include span-columns(3);
	@include omega();
}

.tab {
	@include span-columns(3);
}

.back-slash {
	@include omega();
}

.caps, .return {
	@include span-columns(3.5);
}

.return {
	@include omega();
}

.shift {
	@include span-columns(4.5);
}

.second {
	@include omega();
}

.space {
	@include span-columns(29);
}

.keyboard-key:hover {
	box-shadow: inset 0 0 3px rgba(0,0,0,.3);
}

.up-case {
	text-transform: uppercase;
}

.hidden{
	display: none;
}

.pressed {
	box-shadow: inset 0 0 3px rgba(0,0,0,.3);
}